trigger
.wrangler
.claude
.gemini-clipboard
amp
builder
codesandbox
composer
configstore
flutter
gcloud
gws
filezilla
gh
git
github-copilot
glab-cli
graphite
gtk-2.0
htop
iterm2
menus
Microsoft\**
karabiner/automatic_backups/*.json
mole
raycast
stripe
thefuck
uv
wireshark
yarn
zed
fossil.db
