trigger
.DS_Store
.env
*.env
*.bak
backups/
zsh/local.zsh
*.local
.zshrc.local
nvim.log
.wrangler
.claude
.gemini-clipboard
amp
builder
codesandbox
composer
configstore
flutter
gcloud
gws
filezilla
gh
git
github-copilot
glab-cli
graphite
gtk-2.0
ghostty/themes
htop
iterm2
menus
Microsoft\**
karabiner/automatic_backups/*.json
mole
raycast
stripe
thefuck
uv
wireshark
yarn
zed/*
!zed/settings.json
fossil.db
fonts/private/
